<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClinicaFrba.Properties.Settings.GD2C2016ConnectionString"
            connectionString="Data Source=RICARDO-PC\SQLSERVER2012;Initial Catalog=GD2C2016;User ID=gd;Password=gd2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
         <!--AQUI VA LA FECHA DEL SISTEMA-->
         <add key="fecha" value="01/01/2015 14:50:50.42" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        
    </startup>
</configuration>